## Statistics of EcoFOCI Glider Locations from Science Data Set

*** dt/dz = 1 ***

In [3]:
import pandas as pd

In [30]:
output_log = '/Users/bell/Programs/Python/EcoFOCI_OculusGlider/sg401_results.dtdz_1p0.txt'

df = pd.read_csv(output_log,names=['profile','status'])
df.dropna(inplace=True)

In [31]:
dfg = df.groupby('status')
dfg.count()

                                    profile
status
 not adjusted                           695
 successfully adjusted                 2781
 unloadable - missing key variable       89

In [10]:
#dfg.get_group(' "not adjusted"')

###  Subset - small selection

**Dives 300-399**

In [32]:
dfs = df[df['profile'].str.contains("p40100")]

In [33]:
#dfs

In [34]:
dfg = dfs.groupby('status')
dfg.count()

                                    profile
status
 successfully adjusted                   97
 unloadable - missing key variable        2

*** dt/dz = 0.5 ***

In [35]:
output_log = '/Users/bell/Programs/Python/EcoFOCI_OculusGlider/sg401_results.dtdz_0p5.txt'

df = pd.read_csv(output_log,names=['profile','status'])
df.dropna(inplace=True)

In [36]:
dfg = df.groupby('status')
dfg.count()

                                    profile
status
 not adjusted                            31
 successfully adjusted                 3445
 unloadable - missing key variable       89

*** dt/dz = 1.5 ***

In [39]:
output_log = '/Users/bell/Programs/Python/EcoFOCI_OculusGlider/sg401_results.dtdz_1p5.txt'

df = pd.read_csv(output_log,names=['profile','status'])
df.dropna(inplace=True)

In [40]:
dfg = df.groupby('status')
dfg.count()

                                    profile
status
 not adjusted                          1748
 successfully adjusted                 1728
 unloadable - missing key variable       89