## Calculating a Eddy Kinetic Energy (EKE) like Property 
    - from filtered ADCP data
    - mean u and v at each depth previously calculated for time period of interest

In [170]:
import pandas as pd
import os
import datetime

In [171]:
fpath = '/Users/bell/in_and_outbox/2018/stabeno/C9_gridded/C9_EKE/'
depths = [f for f in os.listdir(fpath) if f.endswith('m.csv')]

In [172]:
dfs = {}
for ifile in sorted(depths):
    dft = pd.read_csv(fpath + ifile,header=0,skiprows=[1,2])
    dft = dft.set_index(pd.DatetimeIndex(dft['time']))
    dfs.update({ifile: dft['2016-10-15':'2016-11-01 00:00:00']    })

### Desired window 
Analysis start and end times: 15 Oct,2016 00:00  01 Nov,2016 00:00
     6.00 hours.  Npts=    69

In [173]:
mean_uv = pd.read_csv(fpath + 'MeanU_V.csv',delimiter='\s+')

In [174]:
mean_uv

   depth      u      V
0    25m  0.928 -3.075
1    41m  2.331 -2.364
2    57m  3.092 -1.957
3    73m  3.791 -1.750
4    89m  4.114 -1.296
5   105m  4.357 -1.150
6   121m  4.335 -1.040
7   137m  3.867 -0.673
8   153m  3.265 -0.582
9   169m  2.320 -0.448
10  185m  1.522 -0.164
11  201m  0.357  0.242
12  217m -0.067  0.545
13  233m -0.063  0.401
14  249m -0.069  0.240
15  265m  0.206  0.179

In [187]:
for i, depth in enumerate(dfs):
    dfs[depth]['depth'] = mean_uv.depth[i]
    dfs[depth]['u'] = dfs[depth][' u_1205'] - mean_uv.u[i]
    dfs[depth]['v'] = dfs[depth][' v_1206'] - mean_uv.V[i]    
    dfs[depth]['eke'] = (dfs[depth]['u']**2 + dfs[depth]['v']**2) / 2.

/Users/bell/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/bell/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/bell/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/bell/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [191]:
for depth in dfs:
    dfs[depth].to_csv('C9_eke.csv',mode='a')