# HLY1901 Oxygen adjustment to bottle files

In [19]:
import pandas as pd
import seawater as sw

In [2]:
exfile = '/Users/bell/Desktop/he1901_merged_final.xlsx'

In [17]:
df = pd.read_excel(exfile,sheet_name=0,skiprows=31)

In [20]:
df.sample(3)

,Cruise,Cast,Latitude,Longitude,Date Time,P_4,S_42,S_41,Fch_906,T_28,...,PO4_186,NO2_184,NO3_182,NH4_189,Notes,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
1077,he2978,22,64.6718,-170.6460,2019-08-08 23:42:00,45,32.84407,32.84443,1.7017,2.2091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1669,he3570,35,71.0852,-161.2008,2019-08-11 10:41:00,33,32.16000,32.16018,3.4979,-1.3413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18864,he20765,106,72.3473,-155.6042,2019-08-19 12:47:00,238,34.71811,34.71966,0.4868,0.4584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df['ST_70']=sw.dens(s=df['S_41'],t=df['T_28'],p=df['P_4'])-1000
df['ST_2070']=sw.dens(s=df['S_42'],t=df['T2_35'],p=df['P_4'])-1000

In [28]:
df[['ST_70','ST_2070']].to_csv('~/Desktop/temp.csv')