# Find associated 70m isobath station for give profile

Project with Mordy

Given an excel sheet with bottom or near bottom data for nut profiles, find the nearest 70m isobath station within 10km

In [73]:
import pandas as pd
import numpy as np

In [7]:
dfile = 'Near Bottom Middle Shelf CTD data.xlsx'
loc70m_stations = '70m_iconicstations.xlsx'

In [68]:
df = pd.read_excel(dfile)
df_70m = pd.read_excel(loc70m_stations)

## Data examples

In [111]:
df['StationName'] = ''
df.sample()

,Cruise,Cast,Cruise Cast,Month,Day,Year,Date Time,Latitude,Longitude,N_S,...,Salinity,Sigma_t,PO4_uM,Sil_uM,NO3_uM,NO2 _uM,NH4_uM,DIN_uM,Nstarstar_uM,StationName
1497,MF0513,61,MF0513_61_61,9,27,2005,2005-09-27 14:07:00,60.42,173.59,N,...,32.221,25.782,2.04,29.57,10.6,1.02,7.88,19.5,-6.29536,

In [112]:
df_70m['Latitude'] = df_70m['LatitudeDegree'] + df_70m['LatitudeMinute']/60
df_70m['Longitude'] = df_70m['LongitudeDegree'] + df_70m['LongitudeMinute']/60
df_70m.sample()

,id,StationName,Activity,LatitudeDegree,LatitudeMinute,LatitudeHem,LongitudeDegree,LongitudeMinute,LongitudeHem,Depth,Comments,Latitude,Longitude
44,48,70M21/M4,CTD/BON/CALVETS,57,50.0,N,168,53.201,W,NaN,NaN,57.833333,168.886683

## Nearest Neighbor (aka great circle calculator with max/min)

find station with distance less than threshold (10km)

In [113]:
import haversine as haversine

In [120]:
fn = lambda x: haversine.haversine((x[0], x[1]),(x[2],x[3]))

for ind,row in df.iterrows():
    for ind_70m,row_70m in df_70m.iterrows():
        dist = (fn([row.Latitude,row.Longitude,row_70m['Latitude'],row_70m['Longitude']]))
        if dist < 10:
            #print(row_70m['StationName'])
            df.iloc[ind,df.columns.get_loc('StationName')]=row_70m['StationName']

In [122]:
df.to_csv('Near Bottom Middle Shelf CTD data.csv')