In [24]:
%matplotlib inline

import xarray as xa
import netCDF4 as nc
import pandas as pd
import numpy as np
import urllib
import datetime
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib.dates import YearLocator, WeekdayLocator, MonthLocator, DayLocator, HourLocator, DateFormatter
import matplotlib.ticker as ticker

import cmocean

In [25]:
### Plot settings
mpl.rcParams['axes.grid'] = False
mpl.rcParams['axes.edgecolor'] = 'white'
mpl.rcParams['axes.linewidth'] = 0.25
mpl.rcParams['grid.linestyle'] = '--'
mpl.rcParams['grid.linestyle'] = '--'
mpl.rcParams['xtick.major.size'] = 4
mpl.rcParams['xtick.minor.size'] = 2
mpl.rcParams['xtick.major.width'] = 2
mpl.rcParams['xtick.minor.width'] = 1
mpl.rcParams['ytick.major.size'] = 6
mpl.rcParams['ytick.minor.size'] = 2
mpl.rcParams['ytick.major.width'] = 2
mpl.rcParams['ytick.minor.width'] = 1
mpl.rcParams['ytick.direction'] = 'out'
mpl.rcParams['xtick.direction'] = 'out'
mpl.rcParams['ytick.color'] = 'k'
mpl.rcParams['xtick.color'] = 'k'
mpl.rcParams['font.size'] = 24
mpl.rcParams['font.sans-serif'] = "Arial"
mpl.rcParams['font.family'] = "sans-serif"
mpl.rcParams['font.weight'] = 'medium'
mpl.rcParams['svg.fonttype'] = 'none'

The following cell loads the dataset from an ERDDAP server.  It can be accessed like a opendap/thredds server for netcdf, but sends the data in a **streaming** format which is hard to figure out how to parse.  So instead, download a temporary file specifying the parameters in the url. 

Alternatives would be to access streaming version of csv file or other filetype from ERDDAP Server and process via pandas

In [47]:
ALAMOID = "http://ferret.pmel.noaa.gov/alamo/erddap/tabledap/arctic_heat_alamo_profiles_9119"
cmap = cmocean.cm.thermal
temp_filename = "data/tmp.nc"

start_date="2016-08-12"
end_date  ="2017-12-31" 
min_pres  ="0" #don't include data from when the instrument is in the air
urllib.urlretrieve(ALAMOID+".ncCFMA?profileid%2CFLOAT_SERIAL_NO%2CCYCLE_NUMBER%2CREFERENCE_DATE_TIME%2CJULD%2Ctime%2Clatitude%2Clongitude%2CPRES%2CTEMP%2CPSAL&time%3E="+start_date+"&time%3C="+end_date+"T23%3A52%3A00Z&PRES%3E="+min_pres,temp_filename)

start_date_dt = datetime.datetime.strptime(start_date,"%Y-%m-%d"),
end_date_dt   = datetime.datetime.strptime(end_date,"%Y-%m-%d")

In [48]:
#datanc = nc.Dataset('data/tmp.nc') #using netcdf library
dataxa = xa.open_dataset('data/tmp.nc')

#print dataxa

In [49]:
ds = dataxa.groupby('profile')

In [50]:
pdf = pd.DataFrame({'Temperature':dataxa.TEMP.groupby('profile').mean().data,
                'latitude':dataxa.latitude.groupby('profile').mean().data,
                'longitude':dataxa.longitude.groupby('profile').mean().data},
                index=dataxa['time'][:,0].data)

In [51]:
pdf12 = pdf.resample('12H').mean()

In [52]:
pdf12.to_csv('data/temp.csv')

In [53]:
pdf12

                     Temperature   latitude   longitude
2017-09-13 12:00:00     7.281654  70.012068 -166.926626
2017-09-14 00:00:00     6.643202  70.053418 -166.840594
2017-09-14 12:00:00     6.711677  70.123396 -166.716975
2017-09-15 00:00:00     6.464200  70.197593 -166.627881
2017-09-15 12:00:00     6.306489  70.272307 -166.555682
2017-09-16 00:00:00     6.374565  70.311026 -166.514174
2017-09-16 12:00:00     6.419444  70.349789 -166.489213
2017-09-17 00:00:00     6.379500  70.386486 -166.451294
2017-09-17 12:00:00     6.334080  70.405114 -166.428989
2017-09-18 00:00:00     6.269952  70.422434 -166.434236
2017-09-18 12:00:00     6.161082  70.439104 -166.439509
2017-09-19 00:00:00     6.188518  70.441992 -166.438730
2017-09-19 12:00:00     6.207028  70.465194 -166.404714
2017-09-20 00:00:00     6.281635  70.487241 -166.382833
2017-09-20 12:00:00     6.277424  70.495973 -166.382142
2017-09-21 00:00:00     6.276035  70.505024 -166.381171
2017-09-21 12:00:00     6.207182  70.516157 -166.397499
2017-09-22 00:00:00     6.206612  70.519936 -166.417740
2017-09-22 12:00:00     6.111642  70.516191 -166.442809
2017-09-23 00:00:00     6.083812  70.510015 -166.452547
2017-09-23 12:00:00     6.194612  70.480908 -166.471530
2017-09-24 00:00:00     6.105800  70.447398 -166.480445
2017-09-24 12:00:00     5.931494  70.419896 -166.482679
2017-09-25 00:00:00     5.955594  70.393494 -166.492631
2017-09-25 12:00:00     5.982835  70.357296 -166.524352
2017-09-26 00:00:00     6.002297  70.324719 -166.546443
2017-09-26 12:00:00     5.970988  70.303652 -166.562605
2017-09-27 00:00:00     5.959247  70.295739 -166.569281
2017-09-27 12:00:00     5.941708  70.297276 -166.590211
2017-09-28 00:00:00     5.931812  70.308446 -166.613718
...                          ...        ...         ...
2017-11-22 12:00:00     0.635476  71.843045 -161.323284
2017-11-23 00:00:00     0.585104  71.914030 -161.198815
2017-11-23 12:00:00          NaN        NaN         NaN
2017-11-24 00:00:00     0.498809  71.999187 -160.906208
2017-11-24 12:00:00     0.427620  72.016198 -160.867979
2017-11-25 00:00:00     0.363521  72.038053 -160.787689
2017-11-25 12:00:00     0.326164  72.051568 -160.665313
2017-11-26 00:00:00          NaN        NaN         NaN
2017-11-26 12:00:00     0.096757  72.073527 -160.563750
2017-11-27 00:00:00     0.026072  72.084330 -160.514397
2017-11-27 12:00:00    -0.066959  72.071868 -160.497863
2017-11-28 00:00:00    -0.172367  72.068352 -160.616761
2017-11-28 12:00:00    -0.411800  72.148215 -160.875052
2017-11-29 00:00:00    -0.415804  72.184819 -160.899793
2017-11-29 12:00:00    -0.448188  72.184793 -160.950431
2017-11-30 00:00:00    -0.670391  72.163142 -161.099982
2017-11-30 12:00:00    -0.683494  72.157037 -161.112513
2017-12-01 00:00:00    -0.770169  72.126028 -161.101994
2017-12-01 12:00:00    -0.867350  72.097442 -161.141589
2017-12-02 00:00:00    -1.156467  72.055598 -161.481631
2017-12-02 12:00:00    -1.317595  72.072504 -161.751560
2017-12-03 00:00:00    -1.363714  72.078975 -161.831928
2017-12-03 12:00:00          NaN        NaN         NaN
2017-12-04 00:00:00    -1.769858  72.225370 -162.713337
2017-12-04 12:00:00    -1.417610  72.243368 -163.374832
2017-12-05 00:00:00    -1.420538  72.244971 -163.566347
2017-12-05 12:00:00    -1.514136  72.249455 -163.893574
2017-12-06 00:00:00    -1.541457  72.244612 -164.073076
2017-12-06 12:00:00    -1.531868  72.247359 -164.515820
2017-12-07 00:00:00    -1.393370  72.265437 -164.734687

[170 rows x 3 columns]