In [18]:
import pandas as pd
import datetime 

from erddapy import ERDDAP
import pandas as pd
import numpy as np

In [19]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='channel_843357_thingspeak'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {
    'time>=': datetime.datetime.today()-datetime.timedelta(days=30),
    'time<=': datetime.datetime.utcnow()
}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df.tail()

       Temp    SLP  RH_Percent  BaroTemp                  time
43577  23.0  999.0        46.0      23.3  2019-10-17T18:54:44Z
43578  23.0  999.0        46.0      23.3  2019-10-17T18:55:51Z
43579  23.0  999.0        46.0      23.3  2019-10-17T18:56:58Z
43580  23.0  999.0        46.0      23.3  2019-10-17T18:58:06Z
43581  23.0  999.0        46.0      23.3  2019-10-17T18:59:13Z

In [20]:
df['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ').timestamp()) for x in df.time]
df.set_index('UnixTime_GMT',inplace=True)
df.drop(columns=['time'],inplace=True)

In [21]:
outputpath = '/Users/bell/Sites/web/timeseries_viewer/home_station/test_station/'

df.to_csv(outputpath+'csv/airTH_unix.csv',columns=['Temp','RH_Percent'])
df.to_csv(outputpath+'csv/airTP_unix.csv',columns=['BaroTemp','SLP'])

In [22]:
print("Last run {0}".format(datetime.datetime.utcnow()))
with open(outputpath + 'txt/lastUpdated.txt','w') as myfile:
    myfile.write(str(datetime.datetime.utcnow()))

Last run 2019-10-17 19:34:34.155012

## 19BSITAEPR-2A

### 19bsitaepr2a met

In [21]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='erddap_19bsitaepr2a_met'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {
    'time>=': datetime.datetime.today()-datetime.timedelta(days=366),
    'time<=': datetime.datetime.utcnow()
}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df.tail()

,air_temperature,eastward_wind,time,northward_wind,longitude,air_pressure,relative_humidity,latitude
24196,100.0,999.9,2019-09-26T14:50:00Z,999.9,-164.065,1012.44,100.0,56.873
24197,100.0,999.9,2019-09-26T15:00:00Z,999.9,-164.065,1012.44,100.0,56.873
24198,100.0,999.9,2019-09-26T15:10:00Z,999.9,-164.065,1012.46,100.0,56.873
24199,100.0,999.9,2019-09-26T15:20:00Z,999.9,-164.065,1012.47,100.0,56.873
24200,100.0,999.9,2019-09-26T15:30:00Z,999.9,-164.065,1012.50,100.0,56.873

In [22]:
df.head()

,air_temperature,eastward_wind,time,northward_wind,longitude,air_pressure,relative_humidity,latitude
0,6.23,0.0,2019-04-19T23:50:00Z,0.2,-164.065,1005.34,57.41,56.873
1,6.77,-0.1,2019-04-20T00:00:00Z,0.0,-164.065,1005.90,55.92,56.873
2,6.32,-0.0,2019-04-20T00:10:00Z,0.1,-164.065,1005.87,57.59,56.873
3,5.96,-0.3,2019-04-20T00:20:00Z,-0.1,-164.065,1005.70,58.42,56.873
4,6.71,0.2,2019-04-20T00:40:00Z,0.3,-164.065,1005.51,57.89,56.873

In [23]:
#calculate windspeed and direction
df['wind_speed (m s-1)']=np.sqrt(df['northward_wind']**2 + df['eastward_wind']**2)
df['wind_from_direction (degrees true)'] = 270-np.rad2deg(np.arctan2(df['northward_wind'],
                                                                 df['eastward_wind']))

df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360] = df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360]-360

#quick qc
df['air_temperature'][df['air_temperature']>50]=np.nan

###

df['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ').timestamp()) for x in df.time]
df.set_index('UnixTime_GMT',inplace=True)
df.drop(columns=['time'],inplace=True)

/Users/bell/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/bell/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [24]:
df.to_csv('airTH_unix.csv',columns=['air_temperature','relative_humidity'])
df.to_csv('airTP_unix.csv',columns=['air_temperature','air_pressure'])
df.to_csv('airWSWD_unix.csv',columns=['wind_from_direction (degrees true)','wind_speed (m s-1)'])

In [25]:
print("Last run {0}".format(datetime.datetime.utcnow()))
with open('lastUpdated.txt','w') as myfile:
    myfile.write(str(datetime.datetime.utcnow()))

Last run 2019-10-09 14:42:41.020708

### 19BSITAEPR-2A Prawler

In [26]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='erddap_19bsitaepr2a_prawler'

#d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]
d.variables =  [
 'profile_id',
 'Temperature',
 'depth',
 'time',
]

In [27]:
d.constraints = {
    'time>=': datetime.datetime.today()-datetime.timedelta(days=366),
    'time<=': datetime.datetime.utcnow()
}

d.get_download_url()

df_sst = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df_sst.sort_index(inplace=True)
df_sst.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df_sst.tail()

ValueError: Length mismatch: Expected axis has 4 elements, new values have 9 elements

In [ ]:
dfint= df_sst.groupby('profile_id')
sst,sst_time = [], []
for i,cast in enumerate(dfint.groups):
    if (dfint.get_group(cast)['depth'].std() > 5) and (dfint.get_group(cast)['depth'].min() < 5):
        sst_time = sst_time + [(dfint.get_group(cast)['time'].values)[0]]
        #print(dfint.get_group(cast)['Temperature'][0:10])
        sst = sst +[(dfint.get_group(cast)['Temperature'][0:5]).median()]

In [ ]:
df_sst_10min.info()

In [ ]:
df_sst_10min = pd.DataFrame(np.array([sst_time,sst]).T,columns=('sst_time','sst'))
df_sst_10min.set_index(pd.to_datetime(df_sst_10min['sst_time']),inplace=True)
df_sst_10min.drop(columns=['sst_time'],inplace=True)
df_sst_10min["sst"]=pd.to_numeric(df_sst_10min["sst"])
df_sst_10minr=df_sst_10min.resample('10T').mean()
df_sst_10minr['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S+00:00').timestamp()) for x in df_sst_10minr.index]

#df.to_csv('airT_SST_unix.csv',columns=['air_temperature','relative_humidity'])
df_sst_10minr.set_index('UnixTime_GMT',inplace=True)

In [ ]:
result = df_sst_10minr.join(df,sort=False)
result.to_csv('airT_SST_unix.csv',columns=['air_temperature','sst'])

### 18BSITAEPR-2A

In [ ]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='erddap_18bsitaepr2a_met'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {
    'time>=': '2018-01-01',
    'time<=': '2018-12-31'
}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

#calculate windspeed and direction
df['wind_speed (m s-1)']=np.sqrt(df['northward_wind']**2 + df['eastward_wind']**2)
df['wind_from_direction (degrees true)'] = 270-np.rad2deg(np.arctan2(df['northward_wind'],
                                                                 df['eastward_wind']))

df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360] = df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360]-360

#quick qc
df['air_temperature'][df['air_temperature']>50]=np.nan
df['wind_speed (m s-1)'][df['wind_speed (m s-1)']>100]=np.nan

###

df['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ').timestamp()) for x in df.time]
df.set_index('UnixTime_GMT',inplace=True)
df.drop(columns=['time'],inplace=True)

df.to_csv('airTH_unix.csv',columns=['air_temperature','relative_humidity'])
df.to_csv('airTP_unix.csv',columns=['air_temperature','air_pressure'])
df.to_csv('airWSWD_unix.csv',columns=['wind_from_direction (degrees true)','wind_speed (m s-1)'])

print("Last run {0}".format(datetime.datetime.utcnow()))
with open('lastUpdated.txt','w') as myfile:
    myfile.write(str(datetime.datetime.utcnow()))

### 19CKITAEPR-2A (FCOM)

In [ ]:
server_url = 'http://heron:8080/erddap'

d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='TELOF001_PRAWC_F001'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {

}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]