In [3]:
import pandas as pd
import datetime 

from erddapy import ERDDAP
import pandas as pd
import numpy as np

In [4]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='channel_843357_thingspeak'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {
    'time>=': datetime.datetime.today()-datetime.timedelta(days=30),
    'time<=': datetime.datetime.utcnow()
}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df.tail()

       RH_Percent     SLP  BaroTemp  Temp                  time
37498        47.0  1010.0      25.6  24.5  2019-09-27T00:55:06Z
37499        48.0  1010.0      25.6  24.5  2019-09-27T00:56:13Z
37500        48.0  1010.0      25.6  24.6  2019-09-27T00:57:20Z
37501        49.0  1010.0      25.7  24.6  2019-09-27T00:58:27Z
37502        49.0  1010.0      25.7  24.6  2019-09-27T00:59:34Z

In [5]:
df['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ').timestamp()) for x in df.time]
df.set_index('UnixTime_GMT',inplace=True)
df.drop(columns=['time'],inplace=True)

In [6]:
df.to_csv('airTH_unix.csv',columns=['Temp','RH_Percent'])
df.to_csv('airTP_unix.csv',columns=['BaroTemp','SLP'])

In [7]:
print("Last run {0}".format(datetime.datetime.utcnow()))
with open('lastUpdated.txt','w') as myfile:
    myfile.write(str(datetime.datetime.utcnow()))

Last run 2019-09-27 01:03:52.582585

## 19BSITAEPR-2A

### 19bsitaepr2a met

In [173]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='erddap_19bsitaepr2a_met'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {
    'time>=': datetime.datetime.today()-datetime.timedelta(days=366),
    'time<=': datetime.datetime.utcnow()
}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df.tail()

,air_temperature,longitude,relative_humidity,air_pressure,eastward_wind,northward_wind,latitude,time
24196,100.0,-164.065,100.0,1012.44,999.9,999.9,56.873,2019-09-26T14:50:00Z
24197,100.0,-164.065,100.0,1012.44,999.9,999.9,56.873,2019-09-26T15:00:00Z
24198,100.0,-164.065,100.0,1012.46,999.9,999.9,56.873,2019-09-26T15:10:00Z
24199,100.0,-164.065,100.0,1012.47,999.9,999.9,56.873,2019-09-26T15:20:00Z
24200,100.0,-164.065,100.0,1012.50,999.9,999.9,56.873,2019-09-26T15:30:00Z

In [174]:
df.head()

,air_temperature,longitude,relative_humidity,air_pressure,eastward_wind,northward_wind,latitude,time
0,6.23,-164.065,57.41,1005.34,0.0,0.2,56.873,2019-04-19T23:50:00Z
1,6.77,-164.065,55.92,1005.90,-0.1,0.0,56.873,2019-04-20T00:00:00Z
2,6.32,-164.065,57.59,1005.87,-0.0,0.1,56.873,2019-04-20T00:10:00Z
3,5.96,-164.065,58.42,1005.70,-0.3,-0.1,56.873,2019-04-20T00:20:00Z
4,6.71,-164.065,57.89,1005.51,0.2,0.3,56.873,2019-04-20T00:40:00Z

In [181]:
#calculate windspeed and direction
df['wind_speed (m s-1)']=np.sqrt(df['northward_wind']**2 + df['eastward_wind']**2)
df['wind_from_direction (degrees true)'] = 270-np.rad2deg(np.arctan2(df['northward_wind'],
                                                                 df['eastward_wind']))

df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360] = df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360]-360

#quick qc
df['air_temperature'][df['air_temperature']>50]=np.nan

###

df['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ').timestamp()) for x in df.time]
df.set_index('UnixTime_GMT',inplace=True)
df.drop(columns=['time'],inplace=True)

/Users/bell/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/bell/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [10]:
df.to_csv('airTH_unix.csv',columns=['air_temperature','relative_humidity'])
df.to_csv('airTP_unix.csv',columns=['air_temperature','air_pressure'])
df.to_csv('airWSWD_unix.csv',columns=['wind_from_direction (degrees true)','wind_speed (m s-1)'])

In [11]:
print("Last run {0}".format(datetime.datetime.utcnow()))
with open('lastUpdated.txt','w') as myfile:
    myfile.write(str(datetime.datetime.utcnow()))

Last run 2019-09-27 01:04:21.221186

### 19BSITAEPR-2A Prawler

In [21]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='erddap_19bsitaepr2a_prawler'

#d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]
d.variables =  [
 'profile_id',
 'Temperature',
 'depth',
 'time',
]

In [25]:
d.constraints = {
    'time>=': datetime.datetime.today()-datetime.timedelta(days=366),
    'time<=': datetime.datetime.utcnow()
}

d.get_download_url()

df_sst = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df_sst.sort_index(inplace=True)
df_sst.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df_sst.tail()

        profile_id  Temperature  depth                  time
140828        3963        5.218  39.47  2019-09-20T20:12:12Z
140829        3963        5.197  41.33  2019-09-20T20:12:20Z
140830        3963        5.202  43.37  2019-09-20T20:12:28Z
140831        3963        5.210  45.38  2019-09-20T20:12:36Z
140832        3963        5.185  47.52  2019-09-20T20:12:44Z

In [91]:
dfint= df_sst.groupby('profile_id')
sst,sst_time = [], []
for i,cast in enumerate(dfint.groups):
    if (dfint.get_group(cast)['depth'].std() > 5) and (dfint.get_group(cast)['depth'].min() < 5):
        sst_time = sst_time + [(dfint.get_group(cast)['time'].values)[0]]
        #print(dfint.get_group(cast)['Temperature'][0:10])
        sst = sst +[(dfint.get_group(cast)['Temperature'][0:5]).median()]

In [138]:
df_sst_10min.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1631 entries, 2019-04-30 18:45:14+00:00 to 2019-09-19 20:04:43+00:00
Data columns (total 1 columns):
sst    1631 non-null object
dtypes: object(1)
memory usage: 25.5+ KB

In [176]:
df_sst_10min = pd.DataFrame(np.array([sst_time,sst]).T,columns=('sst_time','sst'))
df_sst_10min.set_index(pd.to_datetime(df_sst_10min['sst_time']),inplace=True)
df_sst_10min.drop(columns=['sst_time'],inplace=True)
df_sst_10min["sst"]=pd.to_numeric(df_sst_10min["sst"])
df_sst_10minr=df_sst_10min.resample('10T').mean()
df_sst_10minr['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S+00:00').timestamp()) for x in df_sst_10minr.index]

#df.to_csv('airT_SST_unix.csv',columns=['air_temperature','relative_humidity'])
df_sst_10minr.set_index('UnixTime_GMT',inplace=True)

In [196]:
result = df_sst_10minr.join(df,sort=False)
result.to_csv('airT_SST_unix.csv',columns=['air_temperature','sst'])

### 18BSITAEPR-2A

In [ ]:
server_url = 'http://downdraft.pmel.noaa.gov:8080/erddap'


d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='erddap_18bsitaepr2a_met'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {
    'time>=': '2018-01-01',
    'time<=': '2018-12-31'
}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

#calculate windspeed and direction
df['wind_speed (m s-1)']=np.sqrt(df['northward_wind']**2 + df['eastward_wind']**2)
df['wind_from_direction (degrees true)'] = 270-np.rad2deg(np.arctan2(df['northward_wind'],
                                                                 df['eastward_wind']))

df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360] = df['wind_from_direction (degrees true)'][df['wind_from_direction (degrees true)']>360]-360

#quick qc
df['air_temperature'][df['air_temperature']>50]=np.nan
df['wind_speed (m s-1)'][df['wind_speed (m s-1)']>100]=np.nan

###

df['UnixTime_GMT'] = [int(1000*datetime.datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ').timestamp()) for x in df.time]
df.set_index('UnixTime_GMT',inplace=True)
df.drop(columns=['time'],inplace=True)

df.to_csv('airTH_unix.csv',columns=['air_temperature','relative_humidity'])
df.to_csv('airTP_unix.csv',columns=['air_temperature','air_pressure'])
df.to_csv('airWSWD_unix.csv',columns=['wind_from_direction (degrees true)','wind_speed (m s-1)'])

print("Last run {0}".format(datetime.datetime.utcnow()))
with open('lastUpdated.txt','w') as myfile:
    myfile.write(str(datetime.datetime.utcnow()))

### 19CKITAEPR-2A (FCOM)

In [ ]:
server_url = 'http://heron:8080/erddap'

d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id='TELOF001_PRAWC_F001'

d.variables =  [d.get_var_by_attr(dataset_id=prawler, standard_name=lambda v: v is not None) for prawler in [d.dataset_id]][0]

d.constraints = {

}

d.get_download_url()

df = d.to_pandas(
    skiprows=(1,)  # units information can be dropped.
).dropna()

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]