# ERDDAP Frequent Tools collection

- Daily Average

In [1]:
from erddapy import ERDDAP
import pandas as pd
import numpy as np
import datetime

In [32]:
server_url = 'http://akutan.pmel.noaa.gov:8080/erddap'
dataset = 'datasets_Mooring_10ckp1a_final'
instrument = '10ckp1a_sc_0041m'
e = ERDDAP(server=server_url)

In [33]:
### prawler urls
constraints = {
}

variables = ['depth', 'latitude', 'longitude', 'temperature', 'timeseries_id', 'Instrument_Identifier','time']
d = ERDDAP(server=server_url,
           protocol='tabledap',
           response='csv',
          )

d.dataset_id=dataset
d.constraints=constraints
d.variables=variables
df = d.to_pandas(
    index_col='time (UTC)',
    parse_dates=True,
    skiprows=(1,)  # units information can be dropped.
)

df.sort_index(inplace=True)
df.columns = [x[1].split()[0] for x in enumerate(df.columns)]

df.groupby(df.timeseries_id).get_group(instrument).resample('1D').mean().to_csv(instrument+'.csv')

,depth,latitude,longitude,temperature,timeseries_id,Instrument_Identifier
time (UTC),,,,,,
2010-08-29 06:00:00+00:00,41.0,70.8401,196.794601,2.3954,10ckp1a_sc_0041m,ascii
2010-08-29 06:00:00+00:00,11.0,70.8389,196.803299,NaN,10ckp1a_wcp_vel,wcp
2010-08-29 06:00:00+00:00,7.0,70.8389,196.803299,NaN,10ckp1a_wcp_vel,wcp
2010-08-29 06:00:00+00:00,13.0,70.8389,196.803299,NaN,10ckp1a_wcp_vel,wcp
2010-08-29 06:00:00+00:00,15.0,70.8389,196.803299,NaN,10ckp1a_wcp_vel,wcp